.wrapper {
  margin-top: 3px;
  .form {
    margin-bottom: 20px;
    .form-group {
      .ques {
        font-size: 17px;
        span {
          text-decoration: underline;
        }
      }
      .input-wrapper {
        display: grid;
        row-gap: 15px;
        margin-top: 10px;
        .input {
        
          background: #fff;

          display: inline-flex;
          justify-content: flex-start;
          align-items: center;
          border: 1px solid #d2d2d2;
          border-radius: 3px;
         
          padding: 5px 10px;

          cursor: pointer;
          input {
            padding: 0;
            height: 1px;
            width: 1px;
            margin-bottom: 0;

            position: relative;
            cursor: pointer;
            &::before {
              content: "";
              position: absolute;
              left: 0;
              top: 50%;
              transform: translateY(-50%);
              -webkit-transform: translateY(-50%);
              -moz-transform: translateY(-50%);
              width: 15px;
              height: 15px;
              border-radius: 3px;
              border: 1px solid #e1e1e1;
              background: #f0f0f0;
              z-index: 2;
            }

            &:checked {
              &::after {
                content: "";
                position: absolute;
                left: 5px;
                top: -5px;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                width: 5px;
                height: 9px;
                border: solid red;
                border-width: 0 2px 2px 0;
                z-index: 3;
              }
            }
          }
          &:has(input:checked) {
            background-color: var(--red);
            color: var(--white);
          }
          label {
            width: 100%;
            cursor: pointer;
            padding-left: 24px;
          }
        }
      }
    }

    .title-group {
      text-transform: capitalize;
      margin: 10px 0 13px ;
      font-size: 17px;
    }
  }
  .paginate {
    display: flex;
    justify-content: space-between;
    
    margin-bottom: 25px;
    
    .prev-btn,
    .next-button {
      cursor: pointer;
      display: flex;
      column-gap: 10px;
      align-items: center;
      padding: 10px 14px;
      color: var(--white);
      background-color: #1f2356;
      border-radius: 7px;
      font-size: 16px;
      font-weight: 400;
      font-family: TTNormsPro-Bold;
      svg {
        width: fit-content;
      }
      &:disabled {
        visibility: hidden;
      }
    }

    
  }
  .progress-bar {
    display: flex;
    flex-direction: column;
    gap: 4px;
    .bar {
      -webkit-appearance: none;
      appearance: none;
      width: 100%;
      height: 10px;

      &::-webkit-progress-bar {
        background-color: #e9ecef;
        border-radius: 30px;
      }

      &::-webkit-progress-value {
        background-color: #34c38f;

        border-radius: 30px;
      }
    }

    .label {
    }
  }
  .submit-button {
    margin: 12px auto;
    width: fit-content;
    a {
      padding: 8px 20px;
    }
  }
}

.disabled {
    visibility: hidden!important;
}
